@model Travel_Trek.ViewModels.WallViewModel

@{
    ViewBag.Title = "Profile";
    var layout = Model.Layout;
    Layout = "~/Views/Shared/" + layout;
}
<section class=" profile-content">
    <figure class="figure">
        <img src="@Model.User.Photo" style="margin-left:45px" class="figure-img img-fluid rounded-circle " alt="Image">
        <figcaption class="figure-caption">
            <h4><span class="profile-content-span">Name: </span> @Model.User.FirstName @Model.User.LastName</h4>
            <h4><span class="profile-content-span">Email: </span>@Model.User.Email</h4>
            <h4><span class="profile-content-span">Phone Number: </span>@Model.User.PhoneNumber</h4>
        </figcaption>
    </figure>

    @Html.ActionLink("Edit Information", "Edit", @Model.Controller, null,  new { @class = "btn btn-primary", style = "margin-right:35px" })
</section>

