@model Travel_Trek.ViewModels.WallViewModel

@{
    ViewBag.Title = "Profile";
    var layout = Model.Layout;
    Layout = "~/Views/Shared/" + layout;

}

<section>

    <h2>@Model.Title Information 👨🏻</h2>
    <hr />

    @using (Html.BeginForm("Save", @Model.Controller, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">

            <div class="Header_subtitle">
                <p>You can edit your data, then click update. 🤷‍♂️✌</p>
            </div>

            @Html.ValidationSummary(true, "Please fix the the following errors!", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group col-lg-6 col-md-6  col-sm-12">
                    @Html.LabelFor(model => model.User.FirstName, new { @class = "font-weight-bold" })
                    <div>
                        @Html.EditorFor(model => model.User.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.User.FirstName, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-6  col-sm-12">
                    @Html.LabelFor(model => model.User.LastName, new { @class = "font-weight-bold" })
                    <div>
                        @Html.EditorFor(model => model.User.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.User.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6 col-md-6  col-sm-12">
                    @Html.LabelFor(model => model.User.Email, new { @class = "font-weight-bold" })
                    <div>
                        @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control", id = "emailText", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-6  col-sm-12">
                    @Html.LabelFor(model => model.User.Password, new { @class = "font-weight-bold" })
                    <div>
                        @Html.EditorFor(model => model.User.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6  col-sm-12">
                    @Html.LabelFor(model => model.User.PhoneNumber, new { @class = "font-weight-bold" })
                    <div>
                        @Html.EditorFor(model => model.User.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.User.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-6  col-sm-12">
                    @Html.LabelFor(model => model.User.Photo, new { @class = "font-weight-bold" })
                    <br />
                    <div class="custom-file " style="width:auto;">
                        <div class="custom-file">
                            <input type="file" name="userPhoto" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose user image</label>
                        </div>
                        @Html.ValidationMessageFor(model => model.User.Photo, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>

            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.User.Id)
            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                    <div>
                        <input type="submit" class="btn btn-primary " value="Update Info"/>
                    </div>
                </div>
            </div>


        </div>
    }
</section>


<script type="text/javascript">
    // set the value of the email and disable the input field
    

    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

</script>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}