@model Travel_Trek.ViewModels.WallViewModel
﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wall</title>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/images/icon.jpg" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("Partials/_wallNavBar")
    @Html.Partial("Partials/_LoginPartial")
    @Html.Partial("Partials/_RegisterPartial")

    <!--Footer started-->
    <div class="container body-content ">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Travel Trek</p>
        </footer>
    </div>
    <!--Footer Ended-->

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/Custom/main.js"></script>
</body>
</html>
