@model IEnumerable<Travel_Trek.Models.Post>

@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}


<section>
    <h2>All Posts</h2>
    <hr />

    @if (Model.Any())
    {
    <p class="Header_subtitle">
        The following table contains all posts information.
    </p>

        <div style="margin-bottom: 10px">
            @Html.ActionLink("Create New Post", "Create", null, new { @class = "btn btn-primary" })
        </div>

        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TripTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripDestination)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripDetails)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripDestination)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripDetails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new
                        {
                            @class = "btn btn-outline-danger",
                            id = item.Id
                        })
                    </td>
                </tr>
            </tbody>
        }
        </table>
    }
    else
    {
    <div class="is-empty">
        <h3>No Users Available..!</h3>
    </div>
    }
</section>
