@model IEnumerable<Travel_Trek.Models.Post>

@{
    ViewBag.Title = "Pending Trip Posts";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<section>
    <h2>
        Posts Requests
    </h2>
    <hr>
    @if (false)
    {
        <p class="admin">
            Manage these Requests
        </p>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.TripTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TripDetails)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TripDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TripDestination)
                    </th>
                    <th>
                        Manage
                    </th>
                </tr>

            </thead>




            @foreach (var item in Model)
            {
                <tbody>
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.TripTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TripDetails)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TripDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TripDestination)
                        </td>

                        <td>
                            <button type="button" class="btn btn-outline-success">Approve</button>
                            <button type="button" class="btn btn-outline-danger">Refuse </button>
                        </td>
                    </tr>

                </tbody>
            }

        </table>
    } else {
        <div class="no-trips">
            <h3 style="text-align: center; color:#808080;">No Pending Posts..!</h3>
        </div>
        
    }


</section>
