@model IEnumerable<Travel_Trek.Models.Post>

@{
    ViewBag.Title = "Pending Trip Posts";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<section>
    <h2>
        Trip Posts Requests 👀
    </h2>
    <hr>
    @if (Model.Any())
    {
        <p class="Header_subtitle">
            Some posts need an action from you.. 🧐🤓
        </p>
        <table id="posts" class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Agency Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TripTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TripDestination)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TripDetails)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TripDate)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>

            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Agency.FirstName) @Html.DisplayFor(modelItem => item.Agency.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TripTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TripDestination)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)$
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TripDetails)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TripDate)
                        </td>

                        <td>
                            <button data-post-id="@item.Id" class="btn btn-outline-success js-approve">Approve</button>


                            <button data-post-id="@item.Id" class="btn btn-outline-danger js-refuse">Refuse</button>
                        </td>
                    </tr>

                </tbody>
            }

        </table>
    }
    else
    {
        <div class="is-empty">
            <h3>No Trip Posts Pending..! 🤗👀</h3>
            @Html.ActionLink("Go To Trip Posts", "AllPosts", null, new { @class = "btn btn-primary" })

        </div>

    }
</section>

@section scripts
{
    <!-- JQuery to handle approve and reject post-->
    <script src="~/Scripts/Custom/ChangePostStatus.js"></script>
}