@model IEnumerable<Travel_Trek.Models.Post>

@{
    ViewBag.Title = "Pending Trip Posts";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<section>
    <h2>
        Posts Requests
    </h2>
    <hr>
    @if (Model.Any())
    {
        <p class="Admin_subtitle">
            Please Manage these Requests...
        </p>
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TripTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TripDestination)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TripDetails)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TripDate)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>

            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.TripTitle)
                        </td>
                        <td class="text-dark">
                            @Html.DisplayFor(modelItem => item.TripDestination)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TripDetails)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TripDate)
                        </td>

                        <td>
                            @Html.ActionLink("Approve", "ApprovePost", new { id = item.Id }, new
                       {
                           @class = "btn btn-outline-success",
                                id = item.Id
                       })

                            @Html.ActionLink("Refuse", "RefusePost", new { id = item.Id }, new
                            {
                                @class = "btn btn-outline-danger",
                                id = item.Id
                            })
                        </td>
                    </tr>

                </tbody>
            }

        </table>
    } else {
        <div class="is-empty">
            <h3 >No Pending Posts..!</h3>
            @Html.ActionLink("Go To Trip Posts", "AllPosts", null, new { @class = "btn btn-primary" })

        </div>
        
    }
</section>
