@model Travel_Trek.Models.Post

@{
    ViewBag.Title = "CreatePost";
    Layout = "~/Views/Shared/FactoryLayout.cshtml";
}

<h2>CreatePost</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="Header_subtitle col-12">Please fill the following form to create new post. 🤷‍♂️✌

            </div>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.TripTitle)
                <div>
                    @Html.EditorFor(model => model.TripTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TripTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.TripDestination)
                <div>
                    @Html.EditorFor(model => model.TripDestination, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TripDestination, "", new { @class = "text-danger" })
                </div>
            </div>
           
        </div>
        
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.TripDate)
                <div >
                    @Html.EditorFor(model => model.TripDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TripDate, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.TripDetails)
                <div>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>

                    <!--  @Html.TextAreaFor(model => model.TripDetails, new {htmlAttributes = new {@class = "form-control", row = "3", id = "exampleFormControlTextarea1"}})
                    @Html.ValidationMessageFor(model => model.TripDetails, "", new {@class = "text-danger"})-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.TripImage)
                <br/>
                <div class="custom-file " style="width:auto;">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                    @Html.ValidationMessageFor(model => model.TripImage, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <div>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>

        
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}