@model Travel_Trek.Models.Post

@{
    ViewBag.Title = "CreatePost";
    Layout = "~/Views/Shared/FactoryLayout.cshtml";
}


<h2>Create new Trip Post</h2>

@using (Ajax.BeginForm("PublishPost","Agency", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "InformUser", UpdateTargetId = "posts_id", InsertionMode = InsertionMode.Replace }, new
{
    enctype = "multipart/form-data",
    id = "formData"
}))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="row">
            <div class="Header_subtitle col-12">
                Please fill the following form to create new post. 🤷‍♂️✌

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.TripTitle)
                <div>
                    @Html.EditorFor(model => model.TripTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TripTitle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.TripDestination)
                <div>
                    @Html.EditorFor(model => model.TripDestination, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TripDestination, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.TripDate)
                <div>
                    @Html.EditorFor(model => model.TripDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TripDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.TripDetails)
                <div>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>

                    <!--  @Html.TextAreaFor(model => model.TripDetails, new {htmlAttributes = new {@class = "form-control", row = "3", id = "exampleFormControlTextarea1"}})
                    @Html.ValidationMessageFor(model => model.TripDetails, "", new {@class = "text-danger"})-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.TripImage)
                <br />
                <div class="custom-file">
                    @Html.TextBoxFor(model => model.TripImage, new { type = "file" })
                </div>
                <!--<div class="custom-file " style="width:auto;">
                    <input type="file" class="custom-file-input" id="customFile" name="userPhoto">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>-->
                @Html.ValidationMessageFor(model => model.TripImage, "", new { @class = "text-danger" })

            </div>
        </div>

        @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <div>
                    <input type="submit" id="publish-post" value="Publish Trip Post" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

<div id="posts_id"></div>

<!--</form> -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        /* This method will be called after success of the ajax request */
        function InformUser(data) {

            console.log(data);
            
            if (data.success) {
                console.log("Success!");

                var dialog = bootbox.dialog({
                    title: 'Publish Trip Post 🐱‍🏍',
                    message: '<p><i class="fa fa-spin fa-spinner"></i> Processing 👀...</p>',
                    backdrop: true,
                    buttons: {
                        Ok: {
                            label: "Ok",
                            className: 'btn-success'
                        }
                    }
                });

                dialog.init(function () {
                    setTimeout(function () {
                            //* Target the dialog body and put the success msg
                        dialog.find('.bootbox-body').html(data.message);
                        dialog.closeButton = true;
                            //* Target the form and empty it
                            document.getElementById("formData").reset();
                        },
                        1000);
                });

            } else {
                bootbox.alert(data.message);
            }
            
        };
    </script>
}