@using Travel_Trek.Models
@model IEnumerable<Travel_Trek.Models.UserQuestion>
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/FactoryLayout.cshtml";
}


<!--  Start Question received page -->
<section>

    <h2>Question and Enquiries 🤔❓</h2>
    <hr />
    @if (Model.Any())
    {
        int count = 1;

        <div id="questions">
            @foreach (var question in Model)
            {
                <div class="row">
                    <div class="col">
                        <div class="card mb-3">

                            <div class="card-body">
                                <h5 class="card-title"><span><a href="#">#@count</a></span> on post <span class="font-weight-bold">@question.Post.TripTitle</span> </h5>
                                <hr />
                                <p><span class="text-secondary font-weight-bold">Question by:</span> <span class="text-primary font-weight-bold">@question.User.FirstName  @question.User.LastName</span></p>

                                <h5 class="card-text">@question.Question  </h5>

                                <hr />

                                @{
                                    if (question.Status == UserQuestion.Open)
                                    {
                                        <div class="form-inline float-right">
                                            <textarea class="form-control js-reply-textarea" id="js-reply" placeholder="Leave a answer here..." rows="3" cols="400"></textarea>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="agency-reply">
                                            <p><span class="text-secondary font-weight-bold">Replay by:</span> <span class="text-primary font-weight-bold">@question.Post.Agency.FirstName  @question.Post.Agency.LastName</span></p>

                                            <h5>@question.Answer</h5>
                                        </div>
                                    }
                                }
                            </div>

                            <div class="card-footer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stopwatch-fill" viewBox="0 0 16 16">
                                    <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584.531.531 0 0 0 .013-.012l.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354a.717.717 0 0 0-.012.012A6.973 6.973 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1h-3zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0z" />
                                </svg>
                                <small class="text-muted font-weight-bold"> @question.Date.ToLongDateString() </small>

                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                    <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                                </svg>
                                <small class="text-muted font-weight-bold"> Post likes: @question.Post.Likes </small>

                                <!--Hide reply button if the the question is closed-->
                                @{
                                    if (question.Status.Equals(UserQuestion.Open))
                                    {
                                        <button class="btn btn-primary js-reply-btn" type="button" style="float: right;" data-post-id="@question.PostId" data-user-id="@question.UserId">Reply 🔁</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger" type="button" style="float: right;" disabled="disabled">Closed 🛑</button>

                                    }
                                }

                                <button class="btn btn-secondary js-view-post" type="button" id="button" style="float: right; margin-right: 20px;"> View Post 📑</button>
                            </div>

                        </div>
                    </div>
                </div>
                count++;
            }
        </div>
    }

    else
    {

        <div class="is-empty">
            <h3>No Questions for your trip posts yet 🧐</h3>
            @Html.ActionLink("Go to Your Posts", "MyPosts", null, new { @class = "btn btn-primary" })

        </div>
    }


</section>
<!-- end Question received page -->

@section scripts
{
    <!--Handle reply to the questions-->
    <script src="~/Scripts/Custom/ReplyToQuestion.js"></script>
    <script src="~/Scripts/Custom/ViewPostFromFAQ.js"></script>
}
