@model IEnumerable<Travel_Trek.Models.Post>

@{
    ViewBag.Title = "MyPosts";
    Layout = "~/Views/Shared/FactoryLayout.cshtml";
}
<section>
    <h2>My Trip Posts 📑</h2>
    <hr />

    @if (Model.Any())
    {

        <div class="row" id="posts">
            @foreach (var post in Model)
            {

                <div class="col">
                    <div class="js-card">
                        <h4 class="trip-title">@post.TripTitle</h4>
                        <div class="card" style="width: 18rem; margin-bottom: 12px">
                            <img class="card-img-top" src="@post.TripImage" alt="@post.TripTitle">
                            <div class="card-body">
                                <h5 class="card-title"><span class="customCardText">From:</span> @post.Agency.FirstName</h5>
                                <p class="card-text"><span class="customCardText">Destination:</span> @post.TripDestination
                                <p class="card-text"><span class="customCardText">Details:</span>@post.TripDetails
                                <p class="card-text"><span class="customCardText">Date:</span> @post.TripDate.ToLongDateString()</p>
                                <!--add price-->
                                <h2 class="card-text" style="font-size: 25px;color: black;text-align: center;"><span class="customCardText">Price:</span> @post.Price$</h2>

                                <!-- Delete , Update-->
                                <div class="row">
                                    <div class="col-6">
                                        <a href="@Url.Action("UpdatePost", new {id = post.Id})" class="btn btn-primary float-lg-left">Update</a>

                                    </div>
                                    <div class="col-6">
                                        <button data-post-id="@post.Id" class="btn btn-danger float-right" id="js-delete">Delete</button>

                                    </div>
                                </div>
                                <!-- likes badge and dislikes badge-->
                                <div class="row">
                                    <div class="col-6">
                                        <div class="badge bg-primary likes-badge" style="width: auto;margin:5px 0 0 ;">
                                            @post.Likes likes.
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="badge bg-danger likes-badge float-right" style="width: auto;margin:5px 0 0 ;" id="num-of-dislikes">
                                            @post.DisLikes dislikes
                                        </div>
                                    </div>
                                </div>



                             


                            </div>

                            <!-- Card footer-->
                            <div class="card-footer">
                                <text class="text-muted">Posted at @post.PostDate.ToLongDateString() @post.PostDate.ToShortTimeString()</text>
                                <div class="text-muted">
                                    @{
                                        if (@post.Status.Equals("Approved"))
                                        {
                                            <small class="text-success">Now In Wall ❤😊</small>
                                        }
                                        else if (@post.Status.Equals("Refused"))
                                        {
                                            <small class="text-danger">Refused as @post.RefuseMessage 🤷‍♀️</small>

                                        }
                                        else
                                        {
                                            <small class="text-info">Now in review. ⌚⏳</small>
                                        }
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="is-empty">
            <h3>No Posts history..! 🤗👀</h3>
            <p>But You Can Publish your first Trip Post right now ❤🐱‍🏍😃 </p>
            @Html.ActionLink("Let's Publish a Trip Post", "CreatePost", null, new { @class = "btn btn-primary" })
        </div>
    }

</section>

<!--Javascript here-->
@section scripts
{
    <!--Handle Delete Post Operation-->
    <script src="~/Scripts/Custom/AgencyDeletePost.js"></script>
}