@model IEnumerable<Travel_Trek.Models.Post>

@{
    ViewBag.Title = "MyPosts";
    Layout = "~/Views/Shared/FactoryLayout.cshtml";
}
<section>

    @if (Model.Any())
    {
        <div class="row" id="posts">
            @foreach (var post in Model)
            {

                <div class="col">
                    <h4 class="trip-title">@post.TripTitle</h4>
                    <div class="card" style="width: 18rem; margin-bottom: 12px">
                        <img class="card-img-top" src="@post.TripImage" alt="@post.TripTitle">
                        <div class="card-body">
                            <h5 class="card-title">From: @post.Agency.FirstName @post.Agency.LastName </h5>
                            <p class="card-text">Details: @post.TripDetails</p>
                            <p class="card-text">Destination: @post.TripDestination</p>
                            <p class="card-text">Date: @post.TripDate.ToLongDateString()</p>

                            <!-- Delete , Update-->
                            <a href="@Url.Action("UpdatePost", new {id = post.Id})" class="btn btn-primary float-lg-left">Update</a>
                            <button data-post-id="@post.Id" class="btn btn-danger float-lg-right" id="js-delete">Delete</button>


                            <!-- likes badge-->
                            <div class="badge bg-success likes-badge">
                                @post.Likes likes.
                            </div>
                        </div>

                        <!-- Card footer-->
                        <div class="card-footer">
                            <text class="text-muted">Posted at @post.PostDate.ToLongDateString() @post.PostDate.ToShortTimeString()</text>
                            <div class="text-muted">
                                @{
                                    if (@post.Status.Equals("Approved"))
                                    {
                                        <small class="text-success">Now In Wall ❤😊</small>
                                    }
                                    else if (@post.Status.Equals("Refused"))
                                    {
                                        <small class="text-danger">Refused as @post.RefuseMessage 🤷‍♀️</small>

                                    }
                                    else
                                    {
                                        <small class="text-info">Now in review. ⌚⏳</small>
                                    }
                                }
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="is-empty">
            <h3>No Posts history..! 🤗👀</h3>
            <p>But You Can Publish your first Trip Post right now ❤🐱‍🏍😃 </p>
            @Html.ActionLink("Let's Publish a Trip Post", "CreatePost", null, new { @class = "btn btn-primary" })
        </div>
    }

</section>

<!--Javascript here-->
@section scripts
{
    <!--Handle Delete Post Operation-->
    <script src="~/Scripts/Custom/AgencyDeletePost.js"></script>
}