@model Travel_Trek.ViewModels.PostFormViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/FactoryLayout.cshtml";
    var headerSubtitle = Model.Operation.Equals("Create") ? "Please fill the following form to create new post. 🤷‍♂️✌" : "You can update the following fields 🤗";
    var btnText = Model.Operation.Equals("Create") ? "Publish Trip Post 💾" : "Update Trip Post 🔃";
}


<h2>@Model.Header</h2>

@using (Ajax.BeginForm(@Model.Action, "Agency", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "InformUser" }, new
{
    enctype = "multipart/form-data",
    id = "formData"
}))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="row">
            <div class="Header_subtitle col-12"> @headerSubtitle </div>
        </div>

        <hr />

        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.Post.TripTitle, null, new { @class = "font-weight-bold" })
                <div>
                    @Html.EditorFor(model => model.Post.TripTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Post.TripTitle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.Post.TripDestination, null, new { @class = "font-weight-bold" })
                <div>
                    @Html.EditorFor(model => model.Post.TripDestination, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Post.TripDestination, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.Post.TripDate, null, new { @class = "font-weight-bold" })
                <div>
                    @Html.EditorFor(model => model.Post.TripDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Post.TripDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.Post.TripDetails, null, new { @class = "font-weight-bold" })
                <div>
                    @Html.TextAreaFor(model => model.Post.TripDetails, new { @class = "form-control", cols = "100" })
                    @Html.ValidationMessageFor(model => model.Post.TripDetails, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.Post.Price, null, new { @class = "font-weight-bold" })
                <div>
                    @Html.EditorFor(model => model.Post.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Post.Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                @Html.LabelFor(model => model.TripImage, null, new {@class = "font-weight-bold"})
                <br/>

                <div class="custom-file">
                    @Html.TextBoxFor(model => model.TripImage, new {type = "file", name = "TripImage"})
                </div>
                @Html.ValidationMessageFor(model => model.TripImage, "", new {@class = "text-danger"})

            </div>
        </div>

        <!--Hidden field for post id-->
        @Html.HiddenFor(model => model.Post.Id)

        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <div>
                    <input type="submit" id="publish-post" value="@btnText" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    
    <!--Handle Publish and Update post operation-->
    <script src="~/Scripts/Custom/PostForm.js"></script>
}