@model Travel_Trek.ViewModels.WallViewModel

<div class="form_overlay" id="register">
    <div class="form-login form-register animation container">
        <div class="row">
            <div class="col-12">
                <h2 style="text-align: center">Sign <span class="text-primary">Up</span></h2>
            </div>
        </div>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="row">
                <div class="form-group col-lg-6 col-md-6  col-sm-12">
                    @Html.LabelFor(model => model.User.FirstName)
                    <div>
                        @Html.EditorFor(model => model.User.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.User.FirstName, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-6  col-sm-12">
                    @Html.LabelFor(model => model.User.LastName)
                    <div>
                        @Html.EditorFor(model => model.User.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.User.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6 col-md-6  col-sm-12">
                    @Html.LabelFor(model => model.User.Email)
                    <div>
                        @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-6  col-sm-12">
                    @Html.LabelFor(model => model.User.Password)
                    <div>
                        @Html.EditorFor(model => model.User.Password, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6  col-sm-12">
                    @Html.LabelFor(model => model.User.PhoneNumber)
                    <div>
                        @Html.EditorFor(model => model.User.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.User.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-6  col-sm-12">
                    @Html.LabelFor(model => model.User.Photo)
                    <br />
                    <div class="custom-file " style="width: auto;">
                        @Html.TextBoxFor(model => model.User.Photo, new { type = "file" })
                        @Html.ValidationMessageFor(model => model.User.Photo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @Html.AntiForgeryToken()
            <div class="row" style="text-align: center">
                <div class="form-group col-12">
                    <input id="submit" type="submit" name="submit" value="Sign Up" class="btn btn-primary">
                </div>
            </div>
        }
    </div>
</div>