@model Travel_Trek.ViewModels.WallViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/WallLayout.cshtml";

    //* This will be 'False' or 'True'
    bool isAuthenticated = (User.Identity.IsAuthenticated);
}
<section>

    @if (Model.Posts.Any())
    {

        <div class="row" id="posts">
            @foreach (var post in Model.Posts)
            {
                {
                    /* Check for data provided */
                    post.TripDetails = string.IsNullOrEmpty(post.TripDetails) ? "No Details provided for this trip. 😑" : post.TripDetails;
                }
                <div class="col">
                    <div class="posts">
                        <h4 class="trip-title">@post.TripTitle</h4>
                        <div class="card" style="width: 20rem; margin-bottom: 10px">
                            <img class="card-img-top" src="@post.TripImage" alt="@post.TripTitle">
                            <div class="card-body">
                                <h5 class="card-title"><span class="customCardText">From:</span> @post.Agency.FirstName</h5>
                                <p class="card-text"><span class="customCardText">Destination:</span> @post.TripDestination
                                <p class="card-text"><span class="customCardText">Details:</span>@post.TripDetails
                                <p class="card-text"><span class="customCardText">Date:</span> @post.TripDate.ToLongDateString()</p>
                                <!--add price-->
                                <h2 class="card-text" style="font-size: 25px;color: black;text-align: center;"><span class="customCardText">Price:</span> @post.Price$</h2>

                                <!--Buttons-->
                                <button id="likeBtn" class="btn btn-primary js-like" data-post-id="@post.Id" data-isAuth="@isAuthenticated">
                                    <i class="fas fa-thumbs-up"></i>
                                </button>

                                <div class="badge bg-primary likes-badge " style="width: auto;margin:0;" id="num-of-likes">
                                    @post.Likes likes
                                </div>

                                <button id="dislikeBtn" class="btn btn-danger js-dislike" style="margin-left: 10px;" data-post-id="@post.Id" data-isAuth="@isAuthenticated">
                                    <i class="fas fa-thumbs-down"></i>
                                </button>

                                <div class="badge bg-danger likes-badge float-right" style="width: auto;margin:0;" id="num-of-dislikes">
                                    @post.DisLikes dislikes
                                </div>

                                <br />

                                <button id="saveBtn" class="btn btn-secondary float-left js-save" style="margin-top: 5px;" data-post-id="@post.Id" data-isAuth="@isAuthenticated"> Save 💾</button>

                                <!--Ask Question button-->
                                <button id="ask" class="btn btn-secondary js-ask float-right" style="margin: 5px 2px 0 ;" data-post-id="@post.Id" data-isAuth="@isAuthenticated">Ask 🤔</button>

                            </div>

                            <!-- Card footer-->
                            <div class="card-footer">
                                <text class="text-muted">Posted at @post.PostDate.ToLongDateString() @post.PostDate.ToShortTimeString()</text>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="is-empty">
            <h3>Sorry, there are no trip posts available right now 😐🤷‍♂️</h3>
            <h4>Go now and come soon 💕👀</h4>
        </div>
    }
</section>


@section scripts
{
    <!--Handle Save and Like operations-->
    <script src="~/Scripts/Custom/PostOperations.js"></script>>
    <script src="~/Scripts/Custom/SearchForPost.js"></script>
}
