@model Travel_Trek.ViewModels.WallViewModel

@{
    ViewBag.Title = "Saved Posts";
    Layout = "~/Views/Shared/WallLayout.cshtml";
}

<section>
    <h2>Saved Trip Posts 😉📕</h2>
    <hr />
    @if (Model.SavedPosts.Any())
    {
        <div class="row" id="posts">
            @foreach (var savedPost in Model.SavedPosts)
            {
                {
                    /* Check for data provided */
                    savedPost.Post.TripDetails = string.IsNullOrEmpty(savedPost.Post.TripDetails) ? "No Details provided for this trip. 😑" : savedPost.Post.TripDetails;
                }
                <div class="col">
                    <div class="js-card">
                        <h4 class="trip-title">@savedPost.Post.TripTitle</h4>
                        <div class="card" style="width: 20rem; margin-bottom: 10px">
                            <img class="card-img-top" src="@savedPost.Post.TripImage" alt="@savedPost.Post.TripTitle">
                            <div class="card-body">
                                <h5 class="card-title"><span class="customCardText">From:</span>  @savedPost.Post.Agency.FirstName</h5>
                                <p class="card-text"><span class="customCardText">Destination:</span> @savedPost.Post.TripDestination
                                <p class="card-text"><span class="customCardText">Details:</span>@savedPost.Post.TripDetails
                                <p class="card-text"><span class="customCardText">Date:</span> @savedPost.Post.TripDate.ToLongDateString()</p>
                                <!--add price-->
                                <h2 class="card-text" style="font-size: 25px;color: black;text-align: center;"><span class="customCardText">Price:</span> @savedPost.Post.Price$</h2>

                                <!--Buttons-->
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-secondary js-remove" data-post-id="@savedPost.Post.Id">Remove ❌</button>
                                </div>
                            </div>

                            <!-- Card footer-->
                            <div class="card-footer">
                                <text class="text-muted">Posted at @savedPost.Post.PostDate.ToLongDateString() @savedPost.Post.PostDate.ToShortTimeString()</text>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="is-empty">
            <h3>There no Saved Posts..! 🤷‍♀️👀</h3>
            <p>Go to the wall to see all available Trip Posts right now ❤🐱‍🏍😃 </p>
            @Html.ActionLink("Let's Go 🐱‍🏍", "Index", null, new { @class = "btn btn-primary" })
        </div>

    }
</section>


@section scripts
{
   <!--Handle remove from saved post operation-->
    <script src="~/Scripts/Custom/RemoveSavedPost.js"></script>
}
